<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>Мы используем уведомления, чтобы напомнить вам о сегодняшних праздниках</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>HOLIDAYS_API_KEY</key>
	<string>f1gtohWMNv30Nqo1rkc7th7EoMRwnKlr</string>
</dict>
</plist>
